<div class="big__card__container">
    <div class="big__card__image">
        <!-- src="https://as1.ftcdn.net/v2/jpg/02/48/42/64/1000_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"  -->
        <img 
            src="{{photoCover}}"
            alt="{{photoCoverAlt}}"
            height="300"
            >
    </div>
    <div class="big__card__author">
        <span>{{cardAuthor}}</span>
    </div>
    <div class="big__card__title">
        
        <h1><a [routerLink]="['content', Id]">{{cardTitle}}</a></h1>
        
    </div>
    <div class="big__card__content">
        <p><a [routerLink]="['content', Id]">{{cardDescription}}</a></p>
    </div>
</div>