<div class="big__card__container">
    <div class="big__card__image">
        <img 
            src="https://as1.ftcdn.net/v2/jpg/02/48/42/64/1000_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg" 
            alt=""
            height="300"
            >
    </div>
    <div class="big__card__title">
        <h1>Ricardo desenvolvedor Angular!</h1>
    </div>
    <div class="big__card__content">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis tempora mollitia ab accusamus debitis. Perspiciatis corporis itaque alias? Ex, cumque hic in commodi dolorem distinctio! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, dicta?</p>
    </div>
</div>