<div class="small__card__container">
    <div class="small__card__content__container">
        <div class="small__card__image">
            <img  
            src="{{photoCover}}" 
            alt="{{photoCoverAlt}}">
        </div>
        <div class="small__card__content">
            <div class="small__card__author">
                <span>{{cardAuthor}}</span>
            </div>
            <div class="small__card__title">
                <h1><a href="{{cardLink}}">{{cardTitle}}</a></h1>
            </div>
        </div>
    </div>
    <div class="small__card__card__separator">
        <hr>
    </div>
</div>


