<div class="menu__bar__container">
    <div class="menu__bar__container__content">
        <div class="menu__bar__logo">
            <img src="https://seeklogo.com/images/A/angular-icon-logo-5FC0C40EAC-seeklogo.com.png" alt="" srcset="">
        </div>
        <div class="menu__bar__links">
            <ul>
                <li><a href="https://linkedin.com/in/patresio/">Linkedin</a></li>
                <li><span>•</span></li>
                <li><a href="https://github.com/patresio">Github</a></li>
                <li><span>•</span></li>
                <li><a href="#">Youtube</a></li>
            </ul>
        </div>
    </div>
</div>